a.navbar-brand img {
    height: 35px;
    width: 35px;
}
div img {
    width: 100%;
}

.navbar-header {
    background: url('../img/navbar.jpg');
}
.container-fluid {
    background-color: #474747;
}

body {
    background-color: #575757;
    color: #474747;
}

.avatar {
    height: 15px;
}

a.navbar-brand img {
    height: 35px;
}
