a.navbar-brand img {
    height: 35px;
    width: 35px;
}
div img {
    width: 100%;
}

.navbar-header {
    background: url('img/navbar.jpg');
}

body {
    background-image: url('biome_map.png');
}
