<div class="about">
<nav-bar></nav-bar>
<div class="topContentDivide">
</div>
<div class="content container-fluid">
  <div class="main row">
    <div class="feed col-sm-12">
      <div class="post aboutActually">
        <h1 class="title">
        Header
        </h1>
        <h4 class="featuredText">
        Lorem ipsum and all that crap.
        </h4>
      </div>
    </div>
    <div class="statsContainer col-sm-12">
      <div class="stats">
        <ul class="statsList">
          <li>
            <p class="key">Power level</p>
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <p class="value">Over 9000</p>
          </li>
          <li>
            <p class="key">Challenges accepted</p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <p class="value">Over 9000</p>
          </li>
          <li>
            <p class="key">Power level</p>
            <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
            <p class="value">Over 9000</p>
          </li>
          <li>
            <p class="key">Challenges accepted</p>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <p class="value">Over 9000</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer col-sm-12">
      <p>MADE WITH BY <span class="glyphicon glyphicon-heart"></span> TEAM CRYOGEN</p>
    </div>
  </div>
</div>