<div class="about">
<nav-bar></nav-bar>
<div class="topContentDivide">
</div>
<div class="content container-fluid">
  <div class="main row">
    <div class="feed col-sm-12">
      <div class="post aboutActually">
        <h4 class="featuredText">
        We're a new minecraft MMO server with custom plugins, an extensive storyline and beautiful worlds.
        </h4>
      </div>
    </div>
    <div class="feed col-sm-12 col-md-6">
      <div class="post aboutActually">
        <h1 class="title">
        Staff
        </h1>
        <h4 class="featuredText">
        All our staff are super friendly and will help you with any questions you might have. We also have a hard working team constantly working on new content
        </h4>
      </div>
    </div>
    <div class="feed col-sm-12 col-md-6">
      <div class="post aboutActually">
        <h1 class="title">
        Content
        </h1>
        <h4 class="featuredText">
        With massive worlds, Tonnes of characters and a branching storyline, You'll never get bored!
        </h4>
      </div>
    </div>
    <div class="statsContainer col-sm-12">
      <stats></stats>
    </div>
    <div class="footer col-sm-12">
      <p>Made with <span class="glyphicon glyphicon-heart"></span> by Team Cryogen</p>
    </div>
  </div>
</div>
