<div class="home">
  <div class="top">
  <nav-bar></nav-bar>
  <div class="logo">
    <span></span>
    <div class="center">
    <img src="img/logo.png" class="logoImg">
      <img src="img/brick_backdrop_v3.png" class="brickImg">
    </div>
  </div>
</div>
<div class="topContentDivide">
</div>
<div class="content container-fluid">
  <div class="main row">
    <div class="feed col-sm-12 col-md-8" ng-controller="PostsController as postctrl">
      <div class="post" ng-repeat="post in postctrl.posts">
        <h1 class="title">
        {{post.title}}
        </h1>
        <h4 class="featuredText">
        {{post.excerpt}}
        </h4>
        <a ng-href="{{ post.link }}">Read more...</a>
      </div>
    </div>
    <div class="twitter col-sm-12 col-md-4">
      <div class="twitterContainer">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/cryogenMC" data-widget-id="545621575169761280" data-chrome="noheader noscrollbar transparent noborders">#cryogenMC Tweets</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="statsContainer col-sm-12">
      <stats></stats>
    </div>
    <div class="footer col-sm-12">
      <p>Made with <span class="glyphicon glyphicon-heart"></span> by Team Cryogen</p>
    </div>
  </div>
</div>
